services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_UID: 1000
        USER_GID: 1000
    volumes:
      - ../:/var/www/html:cached
      - ./php/php.ini:/usr/local/etc/php/conf.d/99-custom.ini
      - ./supervisor/laravel-worker.conf:/etc/supervisor/conf.d/laravel-worker.conf
      - ~/.composer:/home/vscode/.composer:cached
      - ~/.npm:/home/vscode/.npm:cached
    environment:
      - PHP_IDE_CONFIG=serverName=Docker
      - XDEBUG_MODE=develop,debug,coverage
      - USER_ID=${UID:-1000}
      - GROUP_ID=${GID:-1000}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - laravel-network
    depends_on:
      - mysql
      - redis

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../:/var/www/html:cached
      - ./nginx/laravel.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl:ro
    networks:
      - laravel-network
    depends_on:
      - app

  mysql:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: laravel
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - ./mysql/mysql-data:/var/lib/mysql
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf:ro
    ports:
      - "3306:3306"
    networks:
      - laravel-network

  redis:
    image: redis
    command: redis-server --appendonly yes
    volumes:
      - ./redis/redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - laravel-network

  mailpit:
    image: axllent/mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
    volumes:
      - ./mailpit/mailpit-data:/data
    networks:
      - laravel-network

volumes:
  mysql-data:
  redis-data:
  mailpit-data:

networks:
  laravel-network:
    driver: bridge
